{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p>既にログイン済みです。</p>
  <br>
  <h4>ログイン中のユーザー ID ：  {{ user.username }}</h4>
  <br><br>
  <h2><a href="{% url 'accountedit' %}">記録などの登録情報を編集する</a></h2>
  <br><br>
  <br>
  <p><a href="{% url 'index' %}">トップページへ</a></p>
  <br>
  <p><a href="{% url 'logout' %}">ログアウト</a></p>
{% else %}
  <h2>ログイン</h2>
  <br>
  ログインすると、記録の登録などができるようになります。
  <br><br>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">ログイン</button>
  </form>
  <br>
  <br>
  <a href="{% url 'signup' %}">新規登録</a>
{% endif %}
{% endblock %}