{% extends 'base.html' %}

{% block title %}新規登録{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <p>既にログイン済みです。</p>
  <br>
  <h4>ログイン中のユーザー ID ：  {{ user.username }}</h4>
  <br><br>
  <h2><a href="{% url 'accountedit' %}">記録などの登録情報を編集する</a></h2>
  <br><br>
  <br>
  <p><a href="{% url 'index' %}">トップページへ</a></p>
  <br>
  <p><a href="{% url 'logout' %}">ログアウト</a></p>
{% else %}
  <h2>新規登録</h2>
  <br>
  ユーザー登録すると、記録を登録することができます。
  <br><br>
  <hr>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
  <hr>
  <br>
  <a href="{% url 'login' %}">ログインページに戻る</a>
{% endif %}

{% endblock %}